# Node modules
node_modules/

# Build output
dist/
.build/

# Environment variables
.env

# Editor directories and files
.vscode/

# System files
.DS_Store

# Netlify
.netlify/

# .Astro directories
.astro/
.astro/data-store.json
.astro/settings.json
