.carousel-wrapper {
    overflow: hidden;
    width: 100%;
}

.carousel-track {
    display: flex;
    width: calc(200%); /* Para crear el efecto de scroll infinito */
    animation: scroll 40s linear infinite;
}

.testimonial-item {
    flex: 0 0 auto;
    width: 300px; /* Establecer un ancho fijo */
    margin: 0 10px; /* Añadir margen lateral */
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}