---
---
<footer class="footer py-6" style="margin-top: auto;">
    <div class="container">
        <div class="columns is-multiline">
            {/* Company Info */}
            <div class="column is-12-mobile is-3-desktop">
                <h3 class="title is-4">Woof & Work Marketing</h3>
                <p class="has-text-grey-light">
                    Transformamos la manera en que las empresas conectan con sus audiencias.
                </p>
            </div>

            {/* Quick Links */}
            <div class="column is-12-mobile is-3-desktop">
                <h4 class="title is-5">Enlaces Rápidos</h4>
                <ul>
                    <li><a href="/" class="has-text-white hover:has-text-warning">Inicio</a></li>
                    <li><a href="/#services" class="has-text-white hover:has-text-warning">Servicios</a></li>
                    <li><a href="/#about" class="has-text-white hover:has-text-warning">Sobre Nosotros</a></li>
                    <li><a href="/blog" class="has-text-white hover:has-text-warning">Blog</a></li>
                    <li><a href="/#contact" class="has-text-white hover:has-text-warning">Contacto</a></li>
                    <li><a href="/#faq" class="has-text-white hover:has-text-warning">FAQ</a></li>
                </ul>
            </div>

            {/* Social Media */}
            <div class="column is-12-mobile is-3-desktop">
                <h4 class="title is-5">Síguenos</h4>
                <div class="buttons">
                    <a href="https://facebook.com" class="button is-light">
                        <span class="icon">
                            <i class="fab fa-facebook"></i>
                        </span>
                    </a>
                    <a href="https://twitter.com" class="button is-light">
                        <span class="icon">
                            <i class="fab fa-twitter"></i>
                        </span>
                    </a>
                    <a href="https://instagram.com" class="button is-light">
                        <span class="icon">
                            <i class="fab fa-instagram"></i>
                        </span>
                    </a>
                </div>
            </div>

            {/* Mapa */}
            <div class="column is-12-mobile is-3-desktop">
                <div class="map-container">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.123456789!2d-1.656234!3d42.812525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4c61ef12345678%3A0xabcdef1234567890!2sPamplona%2C%20Navarra%2C%20España!5e0!3m2!1ses!2sus!4v1680000000000!5m2!1ses!2sus"
                        width="100%"
                        height="150"
                        style="border:0;"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>
        </div>

        <div class="content has-text-centered mt-6">
            <p class="is-size-7">
                &copy; {new Date().getFullYear()} Woof & Work Marketing. Todos los derechos reservados.
            </p>
        </div>
    </div>
</footer>