---
import ReunionButton from './ReunionButton.astro';
---
<div id="navBarMenu" class="is-fluid is-marginless">
    <nav class="navbar has-shadow is-spaced is-primary" role="navigation" aria-label="main navigation">
        <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <strong>Woof & Work Marketing</strong>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">
            <a class="navbar-item has-text-weight-semibold" href="/">
                Inicio
            </a>
            <a class="navbar-item has-text-weight-semibold" href="#services">
                Servicios
            </a>
            <a class="navbar-item has-text-weight-semibold" href="#about">
                Nosotros
            </a>
            <a class="navbar-item has-text-weight-semibold" href="#contact">
                Contacto
            </a>
            <a class="navbar-item has-text-weight-semibold" href="#faq">
                FAQ
            </a>
            <a class="navbar-item has-text-weight-semibold" href="/blog">
                Blog
            </a>
            </div>
            <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                <ReunionButton />
                </div>
            </div>
            </div>
        </div>

    <style>
        .navbar-burger span {
        background-color: #ff9900; /* Orange color */
        }
    </style>
        </div>
    </nav>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        
        $navbarBurgers.forEach(el => {
            el.addEventListener('click', () => {
                const target = el.dataset.target;
                const $target = document.getElementById(target);
                
                el.classList.toggle('is-active');
                if ($target) {
                    $target.classList.toggle('is-active');
                }
            });
        });
    });
</script>
