---
// ReunionButton.astro
---

<div class="buttons">
    <a class="button is-primary" href="#contact">
        <span class="icon is-small">
            <i class="fas fa-calendar-check" aria-hidden="true"></i>
        </span>
        <strong>Programar Reunión</strong>
    </a>
</div>
