---
// ReunionButton.astro
---

<div class="buttons">
    <a class="button is-primary" href="/reuniones">
        <span class="icon">
            <i class="fas fa-calendar-check"></i>
        </span>
        <strong>Programar Reunión</strong>
    </a>
</div>
