---
---
<div class="social-icons mt-4">
    <a href="https://www.facebook.com/ForoEuropeo"
       target="_blank"
       rel="noopener noreferrer"
       class="mx-2"
       aria-label="Síguenos en Facebook">
       <span class="icon is-small">
            <i class="fab fa-facebook-f" aria-hidden="true"></i>
       </span>
    </a>
    <a href="https://www.x.com/x"
       target="_blank"
       rel="noopener noreferrer"
       class="mx-2"
       aria-label="Síguenos en Twitter">
        <span class="icon is-small">
            <i class="fab fa-twitter" aria-hidden="true"></i>
        </span>
    </a>
    <a href="https://www.instagram.com/foroeuropeo/"
       target="_blank"
       rel="noopener noreferrer"
       class="mx-2"
       aria-label="Síguenos en Instagram">
        <span class="icon is-small">
            <i class="fab fa-instagram" aria-hidden="true"></i>
        </span>
    </a>
    <a href="https://es.linkedin.com/school/foroeuropeo/" 
       target="_blank" 
       rel="noopener noreferrer" 
       class="mx-2"
       aria-label="Síguenos en LinkedIn">
        <span class="icon is-small">
            <i class="fab fa-linkedin-in" aria-hidden="true"></i>
        </span>
    </a>
</div>