
<div class="flex justify-center text-amber-500 text-xl mt-4 gap-4">
    <a href="https://www.facebook.com/ForoEuropeo" aria-label="Facebook" class="hover:text-amber-400">
        <i class="fab fa-facebook-f"></i>
    </a>
    <a href="https://www.twitter.com/x" aria-label="Twitter" class="hover:text-amber-400">
        <i class="fab fa-twitter"></i>
    </a>
    <a href="https://www.instagram.com/foroeuropeo/" aria-label="Instagram" class="hover:text-amber-400">
        <i class="fab fa-instagram"></i>
    </a>
    <a href="https://es.linkedin.com/school/foroeuropeo/" aria-label="LinkedIn" class="hover:text-amber-400">
        <i class="fab fa-linkedin-in"></i>
    </a>
</div>