
---
---
<div class="tech-stack">
    <p class="tech-header">Desarrollado con:</p>
    <div class="tech-links">
        <a href="https://docs.astro.build" target="_blank" rel="noopener noreferrer">
            <span>Astro</span>
        </a>
        <span class="divider">•</span>
        <a href="https://reactjs.org" target="_blank" rel="noopener noreferrer">
            <span>React</span>
        </a>
        <span class="divider">•</span>
        <a href="https://www.typescriptlang.org" target="_blank" rel="noopener noreferrer">
            <span>TypeScript</span>
        </a>
        <span class="divider">•</span>
        <a href="https://vitejs.dev" target="_blank" rel="noopener noreferrer">
            <span>Vite</span>
        </a>
    </div>
</div>

<style>
    .tech-stack {
        margin-top: 0.5rem; /* Reducido de 1rem a 0.5rem */
        font-size: 0.9rem;
    }
    .tech-header {
        color: #666;
        margin-bottom: 0.2rem; /* Añadido para reducir el espacio inferior */
    }
    .tech-links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
    .divider {
        color: #666;
    }
    .tech-links a {
        color: #4a4a4a;
        text-decoration: none;
        transition: color 0.3s ease;
    }
    .tech-links a:hover {
        color: #ff9900;
    }
</style>