---
import Layout from './Layout.astro';

interface Props {
    title: string;
    meta?: Array<{ name?: string; property?: string; content: string; }>;
    frontmatter: {
        title: string;
        publishDate: string;
        description: string;
        author: string;
        image?: {
            url: string;
            alt: string;
        };
        tags?: string[];
    };
}

const { title, meta = [], frontmatter } = Astro.props;
const publishDate = new Date(frontmatter.publishDate).toLocaleDateString('es-ES', {
    year: 'numeric',
    month: 'long',
    day: 'numeric'
});
---

<Layout title={frontmatter.title + " | Blog"} meta={meta}>
    <article class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-10">
                    <div class="content is-large">
                        <slot />
                    </div>
                </div>
            </div>
        </div>
    </article>
</Layout>

<style>
    .has-shadow {
        box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
        border-radius: 6px;
    }
    
    .content img {
        border-radius: 6px;
        margin: 2rem 0;
    }
</style>
