---
import Layout from './Layout.astro';

interface Props {
    title: string;
    meta?: Array<{ name?: string; property?: string; content: string; }>;
    frontmatter: {
        description: string;
        author: string;
        image?: {
            url: string;
            alt: string;
        };
        tags?: string[];
    };
}

const { title, meta = [], frontmatter } = Astro.props;
---

<Layout title={frontmatter.title + " | Blog"} meta={meta}>
    <article class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-10">
                    <div class="content is-large">
                        <slot />
                    </div>
                </div>
            </div>
        </div>
    </article>
</Layout>
